<%- include('./include/header.ejs') %>
<%- include('./include/navHeader.ejs') %>
<div id="section-landing">
    <% if(blogs) { %>
        <% if(blogs[0].length > 0){ %>
            <div class="pagingBar">
                <% for(var i = 0; i < blogs.length; i++){%>
                    <button class="pagesBtns" value="<%= i+1 %>" onclick="nextPage(this);"><%= i+1 %></button>
                <% } %>
            </div>
            <% for(blog of blogs[index]){ %> 
                <% if(blog === undefined) break; %> 
                <div class="wrapper-landing-blog" data-sal="zoom-in" data-sal-delay="50">
                    <div id="author">
                        <p class="author__name"><%= blog.author %></p>
                    </div>
                    <div class="blogDiv" >
                        <div class="blog" data-doc="<%= blogs.indexOf(blog) %>">
                            <h2 class="title"><%= blog.title %></h2>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eligendi, nihil quos laboriosam unde sit eius maiores veniam dicta corrupti quam mollitia totam quod alias, pariatur atque deleniti maxime hic?<%= blog.text  %></p>
                            <p class="date">
                                <span class="calendar">&#128197;&#xfe0e;</span>	
                                <%= moment(blog.date).format('MMM DD YYYY');%> 
                            </p>
                        </div>
                        <a class="com" href="blogs/<%= blog._id %>/info">
                            <p class="comment">more...</p>
                        </a>
                    </div>
                </div>
            <% } %>  
        <% } else { %>  
        <p class="notFoundBlog">No Blogs yet..</p>
        <% } %> 
    <% } else { %>
        <p class="notFoundBlog">error</p>
    <% } %>
</div>
<div class="popUp" id="popUpBack">
    <div class="contPopUp">
        <p class="closeBtn">&#10006;</p>
        <h2>Edit</h2>
        <div class="popupEdit" id="popUpSmall">
            <form action="" method="post">
                <div>
                <input name="blogId" class="blogId" value="" hidden>
                <input type="text" class="inputTitle" name="title" id="title" placeholder="Title" required>
                </div>
                <div>
                <textarea type="text" name="blog" class="textBlog" id="blog" rows="5" cols="60" maxlength="120" required></textarea>
                </div>
                <button type="submit">Edit</button>
            </form>
        </div>
    </div>
</div>

<%-  include('./include/footer.ejs')%> 





