<%- include('../include/header.ejs') %>
<%- include('../include/navHeader.ejs')%>

<div id="section-landing">
    <div class="wrapper-landing-blog">
        <% if(!blog){%>
            <h1 id="printUser"> Can't Find It Sorry :( </h1>
        <% }else{%>  
            <div class="blogDiv" >
                <div class="blog">
                    <p class="title"><%= blog.title %><span id="author">|By <%= blog.author %></span></p>
                    <p class="text"><%= blog.text  %></p>
                    <p class="date"><%= moment(blog.date).format('MMM DD YYYY'); %> </p>
                </div>
            </div>
        
            <div class="scrollingPanel">
                <% for(var i = 0; i < blog.comments.length; i++){ %>
                    <div class="comments">
                        <div class="userInfo">
                            <div class="userName" hidden><%= blog.comments[i].user.userName%></div>
                        </div>
                        <div class="commentsInfo">
                            <div class="userName"><p><%= blog.comments[i].user.userName%></p></div>
                            <div class="userComment"><p><%= blog.comments[i].comment %> </p></div>
                        </div>      
                    </div>
                <% } %>  
            </div>
        <% } %> 
    </div>
</div>

<% if(blog){ %>
    <script>
        const divScroll = document.querySelector('div.scrollingPanel');
        const len = <%=blog.comments.length%>;

        if(len > 3){
            $(divScroll).hover(onHover,outHover);
        };

        function onHover(){
            $(this).css('overflow-y', 'scroll');
        };

        function outHover(){
            $(this).css('overflow-y', 'hidden');
        };
    </script>
<% } %> 

<%-  include('../include/footer.ejs')%> 