<%- include('../include/header.ejs') %>
<%- include('../include/navHeader.ejs') %>


<div id="section-landing">
    <div class="wrapper-landing-blog">
        <div id="author">
            <p class="author__name"><%= blog.author %></p>
        </div>
        <div class="blogDiv" >
            <div class="blog">
                <p class="title"><%= blog.title %></p>
                <p class="text"><%= blog.text  %></p>
                <p class="date">
                    <span class="calendar">&#128197;&#xfe0e;</span>
                    <%= moment(blog.date).format('MMM DD YYYY'); %> 
                </p>
            </div>
        </div>
    </div>
    <% if(blog.author !== user){ %> 
    <div class="wrapper-landing-comment">
        <div class="comments">
            <div class="userInfo">
                <p><%= user %> </p>
            </div>
            <div class="addComment">
                <form id="newCommentForm" action="" method="POST">
                    <div class="commentBody">
                        <textarea type="text" name='comment' placeholder="Type Your Comment..."></textarea>
                    </div>
                    <div class="addNewCommentBtn">
                        <button type="submit">Replay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% } %> 
    <div class="scrollingPanel">
        <% for(var i = 0; i < blog.comments.length; i++){ %>
            <div class="wrapper-landing-comment">
                <div class="comments">
                    <div class="userInfo">
                        <p><%= blog.comments[i].user.userName%>
                        </p>
                    </div>
                    <div class="commentsInfo">
                        <div class="userComment"><p><%= blog.comments[i].comment %> </p></div>
                    </div>
                    <% if(blog.author !== user){ %> 
                        <div class="commentOpr">
                            <div>
                                <button id="deleteComment"  data-doc="<%= blog._id %>" data-comment="<%= blog.comments[i]._id %>"><span>&#128465</span></button>
                            </div>
                            <div>
                                <button id="editComment" data-doc="<%= blog._id %>" data-comment="<%= blog.comments.indexOf(blog.comments[i]) %>"><span>
                                    &#x270E
                                </span>
                            </button>
                            </div>

                        </div>
                    <% } %> 
                </div>
            </div>
        <% } %>  
    </div>
</div>
<div class="popUp" id="popUpBack">
    <div class="wrapper-landing-blog">
        <p class="closeBtn">&#10006;</p>
        <div id="author">
            <p class="author__name"><%= user %></p>
        </div>
        <form id="newBlog" action="edit" method="post">
            <div class="blogDiv">
                <div class="blog">
                    <input name="commentId" class="blogId" value="" hidden>
                    <textarea type="text" name="comment" class="textBlog" id="blog" rows="5" cols="60" maxlength="120" required></textarea>
                </div>
                <div class="newBlog--addCancel">
                    <button type="submit">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- deleting comment -->
<script>
    const delBtn = document.querySelectorAll('button#deleteComment');

    delBtn.forEach(btn => btn.onclick = async function (){
        let endPoint = `/blogs/${btn.dataset.doc}/info/${btn.dataset.comment}`;

        fetch(endPoint, {method: 'DELETE'})
            .then(console.log('Doing'))
            .catch(err=> console.log('ERROR DELETE'))
        ;
        location.reload();
        location.reload();
    });
</script>

<!-- editing comment -->
<script>
    var edit = document.querySelectorAll('button#editComment');
    const popUp = document.getElementById('popUpBack');
    const textBlog = document.querySelector('.textBlog');

    edit.forEach(btn => btn.onclick = function (){
        var commentToEdit = <%- JSON.stringify(blog.comments) %>
        commentToEdit = commentToEdit[btn.dataset.comment];
        textBlog.value = commentToEdit.comment;
        document.querySelector('.blogId').value = commentToEdit._id;
        $('#popUpBack').fadeIn(800);
        popUp.style.display = 'flex';
    });

    document.querySelector(".closeBtn").addEventListener('click', (e)=>{
        $('#popUpBack').fadeOut(400);
    });
</script>

<%- include('../include/footer.ejs') %>