<%- include('../include/header.ejs') %>

<div id="section-landing">
    <%- include('../include/navHeader.ejs') %>

    <div class="wrapper-landing-blog" id="blogsS">
        <% if(user.blogs){ %>
            <% if(user.blogs.length > 0){ %>
                    <% for(blog of user.blogs[index]){ %> 
                        <% if(blog === undefined) break; %>
                        <div class="blogDiv">
                            <div class="blog">
                                <p class="title"><%= blog.title %></p>
                                <p class="text"><%= blog.text  %></p>
                                <p class="date"><%= moment(blog.date).format('MMM DD YYYY'); %> </p>
                            </div>
                            <button class='delete' data-doc="<%= user.blogs[index].indexOf(blog)%>">Delete</button>
                        </div>
                    <% } %>  
                    <div class="navNextBack">
                        <button class="back">&#8249;</button>
                        <button class="next">&#8250;</button>
                    </div>
            <% } else {%>  
                    <h1 id="printUser">No Blogs to delete</h1> 
            <% } %>
        <% } %>
    </div>
</div>
<script>
    const del = document.querySelectorAll('button.delete');

    del.forEach(btn => btn.addEventListener('click', (e) =>{
        const endpoint = `/blogs/delete/${btn.dataset.doc}?page=${<%= index+1 %>}`;
        fetch(endpoint, {method: 'DELETE'})
            .then(()=> window.location.replace('/blogs/delete'))
            .catch(err=>{console.log(err)})
        ;
    }));
</script>
<script>
    const back = document.querySelector('button.back');
    const next = document.querySelector('button.next');
    if(<%= index %> > 0){
        back.style.display = 'inline';
    }else{
        back.style.display = 'none';
    }

    if(<%= index %> >= <%= user.blogs.length-1 %>){
        next.style.display = 'none';
    }

    next.addEventListener('click', (e)=>{
        <%= index += 2 %>
        window.location.href = `/blogs/delete?page=<%=index%>`;
    });

    back.addEventListener('click', (e)=>{
        <%= index -=2 %>
        window.location.href = `/blogs/delete?page=<%=index%>`;
    });
</script>

<%-  include('../include/footer.ejs')%> 