<%- include('../include/header.ejs') %>
<%- include('../include/navHeader.ejs') %>
<div id="section-landing">
    <% if(blogs) { %>
        <% if(blogs[0].length > 0){ %>
            <div class="pagingBar">
                <% for(var i = 0; i < blogs.length; i++){%>
                    <button class="pagesBtns" value="<%= i+1 %>" onclick="nextPage(this);"><%= i+1 %></button>
                <% } %>
            </div>
            <% for(blog of blogs[index]){ %> 
                <% if(blog === undefined) break; %> 
                <div class="wrapper-landing-blog">
                    <div id="author">
                        <p class="author__name"><%= blog.author %></p>
                    </div>
                    <div class="blogDiv">
                        <div class="blog" data-doc="<%= blogs.indexOf(blog) %>">
                            <p class="title"><%= blog.title %></p>
                            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates neque repellendus non esse illo culpa aperiam numquam ullam quae laboriosam assumenda iste modi nihil labore sit laborum enim, ipsum dicta.<%= blog.text  %></p>
                            <p class="date">
                                <span class="calendar">&#128197;&#xfe0e;</span>
                                <%= moment(blog.date).format('MMM DD YYYY'); %>
                            </p>
                        </div>
                        <div class="Blog__DeleteAdd">
                            <button id="delete" class='delete' data-doc="<%= blog._id %>">
                                <span>&#128465</span>
                            </button>
                            <button id="edit" class='edit' data-doc="<%= blogs[index].indexOf(blog) %>">
                                <span>&#x270E</span>
                            </button>
                        </div>
                        <a class="com" href="blogs/<%= blog._id %>/info">
                            <p class="comment">more...</p>
                        </a>
                    </div>
                </div>  
            <% } %>  
        <% } else {%>  
            <p class="notFoundBlog">No Blogs yet..</p>
        <% } %>
    <% } else {%>  
        <p class="notFoundBlog">error</p>
    <% } %>
</div>
<div class="newBlogBtn"> 
    <a href="blogs/add"><span>&#x271A</span></a>
</div>

<div class="popUp" id="popUpBack">
    <div class="wrapper-landing-blog">
        <p class="closeBtn">&#10006;</p>
        <div id="author">
            <p class="author__name"><%= user %></p>
        </div>
        <form id="newBlog" action="" method="post">
            <div class="blogDiv">
                <div class="blog">
                    <input name="blogId" class="blogId" value="" hidden>
                    <input type="text" class="inputTitle" name="title" id="title" placeholder="Title" required>
                    <textarea type="text" name="blog" class="textBlog" id="blog" rows="5" cols="60" maxlength="120" required></textarea>
                    <p class="date">
                        <span class="calendar">&#128197;&#xfe0e;</span>
                        <%= moment().format('MMM DD YYYY'); %>
                    </p>
                </div>
                <div class="newBlog--addCancel">
                    <button type="submit">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- edit blog popup -->
<script>
    var edit = document.querySelectorAll('button.edit');
    const popUp = document.getElementById('popUpBack');
    const inputTitle = document.querySelector('.inputTitle');
    const textBlog = document.querySelector('.textBlog');
    const blogId = document.querySelector('.blogId');

    edit.forEach(btn => btn.onclick = function (){
        const blogs = <%- JSON.stringify(blogs[index])%>;
        blogId.value = blogs[btn.dataset.doc]._id;
        inputTitle.value = blogs[btn.dataset.doc].title;
        textBlog.value = blogs[btn.dataset.doc].text;
        $('#popUpBack').fadeIn(800);
        popUp.style.display = 'flex';
    });

    document.querySelector(".closeBtn").addEventListener('click', (e)=>{
        $('#popUpBack').fadeOut(400);
    });
</script>

<!-- delete blog -->
<script>
    const delBtn = document.querySelectorAll('button.delete');

    delBtn.forEach(btn => btn.onclick = function (){
        let endPoint = `/blogs/delete/${btn.dataset.doc}`;
        
        fetch(endPoint, {method: 'DELETE'})
            .then(window.location.replace('/blogs'))
            .catch(err=>{console.log('ERROR DELETE')})
        ;
    });
</script>

<%-  include('../include/footer.ejs')%> 